###############################################################################
# Auto detect
###############################################################################

* text=auto

###############################################################################
# C#
###############################################################################

*.cs text diff=csharp

###############################################################################
# Solution
###############################################################################

*.sln text
*.slnx text

###############################################################################
# Projects
###############################################################################

*.csproj text
*.props text
*.targets text

###############################################################################
# Config
###############################################################################

*.json text
*.xml text
*.config text
*.yml text
*.yaml text

###############################################################################
# Angular
###############################################################################

*.ts text
*.tsx text
*.js text
*.jsx text
*.css text
*.scss text
*.html text

###############################################################################
# SQL
###############################################################################

*.sql text

###############################################################################
# Markdown
###############################################################################

*.md text

###############################################################################
# PowerShell
###############################################################################

*.ps1 text eol=crlf

###############################################################################
# Shell
###############################################################################

*.sh text eol=lf